topology:
  nodes:
    # spines
{{- range $spineIndex := seq 1 $.spines.num }}
    spine-{{ $spineIndex }}:
      kind: Device
      interfaces:
        if0: {}
{{- end }}
    # leaves
{{- range $leafIndex := seq 1 $.leaves.num }}
    leaf-{{ $leafIndex }}:
      kind: Device
      interfaces:
        if0: {}
        if1: {}
{{- end }}
    host-0:
      kind: Server
      interfaces:
        if0: {}

  links:
{{- range $spineIndex := seq 1 $.spines.num }}
    # spine-{{ $spineIndex }}
  {{- range $leafIndex := seq 1 $.leaves.num }}
  - endpoints: ["spine-{{ $spineIndex }}:if{{ $leafIndex }}", "leaf-{{ $leafIndex }}:if{{ $spineIndex }}"]
  {{- end }}
{{- end }}
